server {
    listen 80;
    server_name shopnoww.myvnc.com www.shopnoww.myvnc.com;
    index index.html index.htm index.nginx-debian.html;
    location / {
        return 301 https://$host$request_uri;
       }
    
}

server {
    listen 443 ssl;
    server_name shopnoww.myvnc.com www.shopnoww.myvnc.com;
    ssl_certificate /etc/letsencrypt/live/shopnoww.myvnc.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/shopnoww.myvnc.com/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers 'TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384';

    location / {
        root /var/www/html;
        index index.html index.htm index.nginx-debian.html;
    }
}